src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="HotelServicePort" service="TajGroupHotelBookingService" wsdlLocation="taj-group-hotel-bookings.wsdl"/>
    <flow name="api-main">
        <http:listener path="/TajGroupHotelBookingService/HotelServicePort" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="listHotelsByLocation:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [listHotelsByLocation:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="bookHotel:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [bookHotel:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getHotelByHotelId:\soapkit-config">
        <flow-ref doc:name="getHotelByHotelIdFlow" doc:id="0d2aa7e7-8a96-4639-911a-6665c3f0749d" name="getHotelByHotelIdFlow"/>
    </flow>
    <flow name="getBookingDetailsById:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [getBookingDetailsById:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
